/* Mobile styles */
@import url('mobile/mobile-style.css');

/* Tablet styles */
@import url('tablet/tablet-style.css');

/* Desktop styles */
@import url('desktop/desktop-style.css');

/* Base styles (applies to all devices unless overridden) */
:root {
    --caret: #C03502;
    --black: #000;
    --white: #FFF;

    /*  */
    --sub-heading-height: 60px;
    --icon-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Header styles */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>nav.top-header {
    width: auto;
    padding-top: 10px;
}

header>nav.top-header>ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}

header>nav>ul>li {
    font-weight: bold;
    cursor: pointer;
}

/* Logo */
header>nav.top-header img {
    width: 90px;
    height: 90px;
}

header>nav>ul>li:first-child,
header>nav>ul>li:last-child {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 15px;
}

/* Hover effect for first-child */
.top-header-icon-svg-login,
.top-header-icon-svg-register {
    width: var(--icon-size);
    display: inline-block;
    margin-top: -10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

header>nav>ul>li:first-child span,
header>nav>ul>li:last-child span {
    margin-top: -30px;
}

header>nav>ul>li:first-child:hover .top-header-icon-svg-login,
header>nav>ul>li:last-child:hover .top-header-icon-svg-register {
    opacity: 1;
    transform: translateY(-20px);
}

/* End of Hover effect */

.top-header-icon-svg-login path,
.top-header-icon-svg-register path {
    fill: var(--caret);
}

/* Sub header styles */
header>nav.bottom-header {
    width: 100%;
    height: var(--sub-heading-height);
    padding: 0px 200px;
    background: var(--caret);
    align-content: center;
}

header>nav.bottom-header>ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

header>nav.bottom-header>ul>li.last {
    flex: 2;
}

/* Sub heading nav - Center */
header>nav.bottom-header>ul>li.center {
    flex: 1;
}

header>nav.bottom-header>ul>li {
    list-style-type: none;
    color: var(--black);
}

header>nav.bottom-header>ul>li.center {
    width: 100%;
}

header>nav.bottom-header>ul>li.center>nav>ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    gap: 20px;
    min-height: var(--sub-heading-height);
}

header>nav.bottom-header>ul>li.center>nav>ul>li {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    height: var(--sub-heading-height);
    padding: 0px 20px;

}

header>nav.bottom-header>ul>li.center>nav>ul>li:hover {
    background: var(--white);
}

header>nav.bottom-header>ul>li.center>nav>ul>li:hover span {
    color: var(--caret);
}

header>nav.bottom-header>ul>li.center>nav>ul>li:first-child .menu-icon-svg,
header>nav.bottom-header>ul>li.center>nav>ul>li:last-child .deals-icon-svg {
    width: var(--icon-size);
}

header>nav.bottom-header>ul>li.center>nav>ul>li:first-child .menu-icon-svg,
header>nav.bottom-header>ul>li.center>nav>ul>li:last-child .deals-icon-svg,
header>nav.bottom-header>ul>li.center>nav>ul>li:first-child span,
header>nav.bottom-header>ul>li.center>nav>ul>li:last-child span {
    fill: var(--white);
    /* for svg */
    color: var(--white)
        /* for span text */
    ;
    display: inline-flex;
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

header>nav.bottom-header>ul>li>nav>ul>li:first-child:hover .menu-icon-svg,
header>nav.bottom-header>ul>li>nav>ul>li:last-child:hover .deals-icon-svg {
    opacity: 1;
    transform: translateX(48px);
    fill: var(--caret);
}

header>nav.bottom-header>ul>li>nav>ul>li:first-child:hover span,
header>nav.bottom-header>ul>li>nav>ul>li:last-child:hover span {
    opacity: 1;
    transform: translateX(-36px);
    color: var(--caret);
}

/* Sub heading nav - First */
header>nav.bottom-header>ul>li.first {
    flex: 2;
    flex-direction: row;
    display: flex;
    gap: 10px;
    height: var(--sub-heading-height);
}

header>nav.bottom-header>ul>li.first i {
    color: var(--caret);
    background: var(--white);
    border-radius: 100%;
    padding: 14px;
}

header>nav.bottom-header>ul>li.first div {
    color: var(--caret);
    background: var(--white);
    border-radius: 10px;
    padding: 14px;
}

/* Sub heading nav - Last */
header>nav.bottom-header>ul>li.last {
    flex: 2;
    flex-direction: row;
    display: flex;
    gap: 10px;
    height: var(--sub-heading-height);
    justify-content: flex-end;
    align-items: center;
}

header>nav.bottom-header>ul>li div.circle {
    color: var(--caret);
    background: var(--white);
    border-radius: 100%;
    padding: 10px;
}

header>nav.bottom-header>ul>li div.circle i,
header>nav.bottom-header>ul>li div.circle sup {
    color: var(--caret);
}

header>nav.bottom-header>ul>li.last div {
    color: var(--white);
}

/* Product cards styles */

/* Footer styles */